exportClasses(StcrSet)
useDynLib(Stcr, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom(utils, read.csv)
importFrom(pheatmap, pheatmap)
importFrom(RColorBrewer, brewer.pal)
importFrom(plyr, count)
importFrom(dplyr, "%>%")
importFrom(dplyr, group_by)
importFrom(reshape2, dcast)
importFrom(reshape2, melt)
import(ggplot2)
import(Seurat)
import(circlize)
